<div class="input-group">
  <span class="input-group-btn">
      <button (click)="decrease()"class="btn btn-default btn-subtract" type="button">-</button>
  </span>
  <input type="text" class="form-control no-padding text-center item-quantity" value={{count}} disabled>
  <span class="input-group-btn">
       <button (click)="increase()" class="btn btn-default btn-add" type="button">+</button>
  </span>

  <p style="color:red" *ngIf="maximum">maximum quantity only 10 can be brought!</p>
  <p style="color:red" *ngIf="minimum">minimum you must buy 3 quantity!</p>
</div>